#app {
	margin-top: 60px;
	margin-bottom: 40px;
	min-width: 700px;
}

.header {
	position: fixed;
	border: 1px solid #b3b3b3;
	color: #ffffff;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100%;
	display: block;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.nav-icon {
	position: relative;
	top: 5px;
	right: 5px;
}

ul.nav li a span {
	display: inline-block;
	margin-top: 6px;
	color: #a90329; ;
}

.btn-header-container-right {
	position: absolute;
	top: 18%;
	right: 1%;
}

.btn-header-container-left {
	position: absolute;
	top: 19%;
	left: 1%;
}

.btn-header {
	color: #fff;
	background: rgba(0,0,0,0);
	border: 1px solid #fff;
}

.btn-header:hover, 
.btn-header:focus {
	text-decoration: none;
}

#btn-back {
	padding: 7px 10px;
}

.btn-submit-recipe {
	border: 1px solid #b3b3b3;
	color: #ffffff;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.btn-save {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #ff2223;
	background-image: -moz-linear-gradient(top,#a90329,#6d0019);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#a90329),to(#6d0019));
	background-image: -webkit-linear-gradient(top,#a90329,#6d0019);
	background-image: -o-linear-gradient(top,#a90329,#6d0019);
	background-image: linear-gradient(to bottom,#a90329,#6d0019);
	background-repeat: repeat-x;
	border-color: #6d0019 #6d0019 #a90329;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329',endColorstr='#6d0019',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.gradient-red {
	background-color: #ff2223;
	background-image: -moz-linear-gradient(top,#a90329,#6d0019);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#a90329),to(#6d0019));
	background-image: -webkit-linear-gradient(top,#a90329,#6d0019);
	background-image: -o-linear-gradient(top,#a90329,#6d0019);
	background-image: linear-gradient(to bottom,#a90329,#6d0019);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329',endColorstr='#6d0019',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-save:hover, 
.btn-save:focus, 
.btn-save:active, 
.btn-save.active, 
.btn-save.disabled,
.btn-save[disabled] {
	color: #fff;
	background-color: #6d0019;
}

.btn-save:hover, .btn-save:focus {
	color: #fff;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

.recipe-thumb {
	position: relative;
	width: 90px;
	height: 90px;
	border: 0.2em solid #ccc;
	text-align: center;
	display: inline-block;
}

.recipe-thumb i {
	position: absolute;
	top: 30%;
	left: 30%;
}

.inline-form-content {
	display: inline-block;
	margin-left: -20px;
	margin-top: 5px;
	width: 50%
}

.sub-legend {
	font-size: 18px;
	margin-top: 5px;
}

.directions-textarea {
	width: 98%;
}

.input-mini::-webkit-input-placeholder {
   font-size: 11px;
}

.input-mini:-moz-placeholder { /* Firefox 18- */
   font-size: 10px; 
}

.input-mini::-moz-placeholder {  /* Firefox 19+ */
   font-size: 10px;
}

.input-mini:-ms-input-placeholder {  
   font-size: 10px; 
}

.form-optional {
	margin-bottom: 10px;
	color: #999;
}

.serving-size-container {
	width: 300px;
}

.checkbox-label {
	margin: 0px 10px;
}

.inline-jqm-list {
	position: relative;
	display: inline-block;
	margin: 3px 5px;
	top: -5px;
}

.ingredient-autocomplete
{
	display: inline-block;
	margin-left: 5px;
}

.measurement-types-help li {
	margin-top: 19px;
	font-style: italic;
	color: #999;
}

#loading-modal {
	opacity: 0.75;
}

.conversion-container input, select {
	margin: 0px 10px;
}

.conversion-container input[type=number] {
	margin-bottom: 10px;
}

#conversions-list {
	padding-bottom: 25px;
}

#conversions-list li {
	margin-bottom: 20px;
	margin-left: 15px;
}

.list-item-icon {
	margin-top: 10px;
	margin-left: 20px;
	border: 0.1em solid #999;
	border-radius: 10px;
	padding: 5px;
}

.list-item-heading {
	margin-top: 5px;
}

.list-item-subheading {
	margin-top: -20px;
	margin-left: 3px;
	color: #999;
}

.ui-li-divider {
	color: #fff;
	background-color: #ff2223;
	background-image: -moz-linear-gradient(top,#a90329,#6d0019);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#a90329),to(#6d0019));
	background-image: -webkit-linear-gradient(top,#a90329,#6d0019);
	background-image: -o-linear-gradient(top,#a90329,#6d0019);
	background-image: linear-gradient(to bottom,#a90329,#6d0019);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329',endColorstr='#6d0019',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.list-view-container {
	margin-top: 2px;
	margin-left: -19px;
	margin-right: -19px;
}

#ingredient-list-view {
	width: 100%;
}