#app {
	margin-top: 60px;
}

.header {
	position: fixed;
	border: 1px solid #b3b3b3;
	color: #ffffff;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100%;
	display: block;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.header-btn-container-right {
	position: absolute;
	top: 18%;
	right: 1%;
}

.header-btn-container-left {
	position: absolute;
	top: 19%;
	left: 1%;
}

.header-btn {
	color: #FFFFFF;
	background: rgba(0,0,0,0);
	border: 1px solid #FFFFFF;
}

.header-btn:hover, 
.header-btn:focus {
	text-decoration: none;
}

#back-cancel-btn {
	padding: 7px 10px;
}

.recipe-thumb {
	position: relative;
	width: 128px;
	height: 128px;
	border: 0.2em solid #CCCCCC;
	text-align: center;
	display: inline-block;
}

.recipe-thumb i {
	position: absolute;
	top: 33%;
	left: 33%;
}

.recipe-form-content {
	display: inline-block;
	margin-left: 13px;
	margin-top: 5px;
	width: 50%
}

.sub-legend {
	font-size: 18px;
	margin-top: 5px;
}

.ingredients-list {
	list-style: none;
	list-style-type: none;
}

.ingredients-list li {
	margin-left: -15px;
}

.ingredients-list select,
.ingredients-list input {
	margin-left: 10px;
}

.directions-text {
	width: 99%;
}